extends completedStories
block content 
    h3 The ongoing story that is being edited comes here. &nbsp;
    |Your character 1 : #{prompt.character1}
    |Your character 2 : #{prompt.character2}
    |Location Scene : #{prompt.location}
    form(method='POST' action=`/ongoing/${data._id}`)
        textarea(cols='200', rows='20', name="text") #{data.description} 
        br
        p Ongoing
        input(type='radio', name='ongoing', value=true)
        |  true
        br
        input(type='radio', name='ongoing', value=false)
        |  false
        br
        input(type='submit')